<ion-header>
  <ion-toolbar color='tertiary'>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Add Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color='dark'>
    <form [formGroup]="infoForm">
      <ion-item color='medium'>
        <ion-label position="floating">Product Name</ion-label>
        <ion-input type="text" formControlName="prod_name"></ion-input>
      </ion-item>
      <ion-item color='secondary'>
        <ion-label position="floating">Product Price</ion-label>
        <ion-input type="number" formControlName="prod_price"></ion-input>
      </ion-item>
      <ion-item color='light'>
        <ion-label position="floating">Product Quantity</ion-label>
        <ion-input type="number" formControlName="prod_quant"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Available</ion-label>
        <ion-checkbox ionChange='' formControlName="availability"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Image</ion-label>
        <ion-button (click)='openImagePicker()'>Upload Image</ion-button>
      </ion-item>
      <ion-button shape="round" color="danger" expand="block" [disabled]="!infoForm.valid" (click)="saveInfo()">Save</ion-button>
    </form>
  </ion-content>

