<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title class='fl'>This is your inventory list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>
  <ion-list>
    <ion-item-sliding  *ngFor="let info of details">
      <ion-item color='medium' detail lines="full" routerLink="/details/{{info.key}}">
        {{info.prod_name}} {{info.prod_quant}}
      </ion-item>
      <ion-item-options side='start'>
          <ion-item-option (click)='addQuant(info.key)'><ion-icon name="add-circle-outline"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item-options side='end'>
            <ion-item-option (click)='subtQuant(info.key)'><ion-icon name="remove-circle-outline"></ion-icon></ion-item-option>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

