@keyframes fadeLeft{
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        
      }
}
.fl {
    animation-name: fadeLeft;
    animation-duration: 1s;
    
}