<ion-header>
  <ion-toolbar color='secondary'>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title color='tertiary'>Edit Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color='dark'>
    <form [formGroup]="infoForm">
      <ion-item color='light'>
        <ion-label position="floating">Product Name</ion-label>
        <ion-input type="text" [(ngModel)]='info.prod_name' formControlName="prod_name"></ion-input>
      </ion-item>
      <ion-item color='medium'>
          <ion-label position="floating">Product Price</ion-label>
          <ion-input type="number" [(ngModel)]='info.prod_price' formControlName="prod_price"></ion-input>
        </ion-item>
      <ion-item color='primary'>
        <ion-label position="floating">Product Description</ion-label>
        <ion-input type="number" [(ngModel)]='info.prod_quant' formControlName="prod_quant"></ion-input>
      </ion-item>
      <ion-button shape="round" color="danger" expand="block" [disabled]="!infoForm.valid" (click)="updateInfo()">Update</ion-button>
    </form>
  </ion-content>
