<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class='i'>
      INVETORY APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>
  <div class='background-image'></div>


</ion-content> 
  

