<ion-header>
  <ion-toolbar color='light'>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Product Details</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="goToEdit()">Edit</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color='medium'>
    <ion-card class='fl' color='dark'>
      <ion-card-content>
        <ion-card-title class='i'>{{info.prod_name}}</ion-card-title>
  
        <p class='i'>{{info.prod_price}}</p>

        <p class='i'>{{info.prod_quant}}</p>
      </ion-card-content>
    </ion-card>
    <ion-button class='i' (click)='deleteInfo()'>Delete</ion-button>
  </ion-content>